@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("./assets/font/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter medium";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("./assets/font/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Optima medium";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./assets/font/Optima Medium.woff')
    format('woff');
}

@font-face {
  font-family: "Optima bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/font/OPTIMA_B.woff')
    format('woff');
}

@font-face {
  font-family: "Optima italic";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/font/Optima_Italic.woff')
    format('woff');
}

@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/font/OPTIMA.woff')
    format('woff');
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: none;
  font-family: "Optima", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

.type-medium {
  font-family: "Optima medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.type-bold {
  font-family: "Optima bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.type-italic {
  font-family: "Optima italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@layer base {
  html {
    @apply text-text;
  }
  body {
    @apply text-text;
  }
  h1 {
    @apply text-[42px] leading-[51px] md:text-[48px] md:leading-[58px] font-optimaBold text-primary;
  }

  h2 {
    @apply text-[32px] leading-[39px] md:text-[36px] md:leading-[45px] font-optimaBold text-primary;
  }

  h3 {
    @apply text-[24px] leading-[29px] md:text-[26px] md:leading-[36px] font-optimaBold text-primary;
  }

  h4 {
    @apply text-[20px] leading-[24px] font-optimaBold text-primary;
  }

  h5 {
    @apply text-[17px] leading-[22px] font-optimaBold text-primary;
  }

  p {
    @apply text-[15px] leading-[24px] font-inter text-text;
  }



  .tag {
    @apply border border-secondary w-fit py-[6px] px-2 hover:bg-secondary-lightest text-secondary cursor-pointer;
  }
  .tag p{
    @apply text-[10px] leading-[12px] font-interMedium tracking-[1.5px] text-inherit uppercase;
  }

  .btn {
    @apply text-[15px] leading-[24px] font-interMedium tracking-wider;
  }
  .body {
    @apply text-[15px] leading-[24px] font-inter text-text tracking-wider;
  }
  .small-body {
    @apply text-[12px] leading-[15px] font-inter text-text tracking-wider;
  }


}


